/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  height: 650px;
  background: url("../../static//img/5.png") no-repeat center center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    /* padding: 2rem; */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 475px;
}
